
h2.paciente-pago{
    color: $color1-dentalcare;


}
h5.costo-tratamiento{
    color: $color1-dentalcare;
    font-size: 16px;

}
h5.prima-inicial{
    color: $color1-dentalcare;
    font-size: 16px;
}
h5.saldo{
    color: $color1-dentalcare;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color:$color1-dentalcare;

}
