
$color1-dentalcare: #214188 !important; 
$color2-dentalcare: white !important;
$color3-dentalcare: green !important;
$color4-dentalcare: rgb(36, 120, 189)!important;
$color5-dentalcare: rgba(233, 4, 4, 0.767) !important;
$color6-dentalcare: rgb(20, 197, 114) !important;
