@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.8em;
  color: #000000;
}

html, body {
  height: 100%;
}

thead, nav, .card-header, .navbar-nav .dropdown-menu .dropdown-item {
  background: #214188 !important;
  color: white !important;
}

.collapsing {
  transition: none !important;
  display: none !important;
}

.navbar-nav .dropdown-menu {
  background: #214188 !important;
  color: white !important;
}

/*Iconos de galeria, ver, borrar, editar */
.fa-camera, .fa-images {
  color: #14c572 !important;
}

.fa-eye:before, .fa-history:before, .fa-list-ul:before {
  color: #214188 !important;
}

.fa-edit:before {
  color: #2478bd !important;
}

.fa-trash:before, .fa-times-circle, .dz-remove, .fa-trash-alt {
  color: rgba(233, 4, 4, 0.767) !important;
}

/*Icono en expediente, resumen clinico, pagos*/
.fa-search:before {
  color: #214188 !important;
}

/*Icono nuevo expediente seccion expediente*/
.fa-user-plus:before {
  color: green !important;
}

/*Icono nuevo pago secciones pagos e historialpagos*/
.fa-money-check-alt {
  color: green !important;
}

.fa-file-export:before {
  color: #214188 !important;
}

/*Icono nuevo resumen clinico seccion resumen clinico*/
.fa-file-medical {
  color: green !important;
}

/*Icono en la barra de navaegacion*/
.fa-tooth {
  color: white !important;
  font-family: 'Poppins', !important;
}

/* Icono nueva imaen en seccion de imagenes de los expedientes */
.fa-plus-circle {
  color: green !important;
  font-family: 'Poppins', !important;
}

.btn-acceder {
  background-color: #214188 !important;
  color: white !important;
}

/*Modal agregar expediente*/
#Modal-add .modal-header {
  background: green !important;
  color: white !important;
}

#Modal-add .modal-footer .btn-guardar {
  background: green !important;
  color: white !important;
}

/*Modal ver expediente*/
#Modal-show .modal-header {
  background: #214188 !important;
  color: white !important;
}

#Modal-show .modal-footer .btn-guardar {
  background: #214188 !important;
  color: white !important;
}

/*Modal editar expediente*/
#Modal-edit .modal-header {
  background: #2478bd !important;
  color: white !important;
}

#Modal-edit .modal-footer .btn-guardar {
  background: #2478bd !important;
  color: white !important;
}

/*Modal borrar expediente*/
#Modal-delete .modal-header {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

#Modal-delete .modal-footer .btn-borrar {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

.largerCheckbox {
  transform: scale(2);
}

/*Ciruclos de las dentaduras*/
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

label.checkbox-label input[type=checkbox] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

/*Modal agregar pago*/
#Modal-pago-add .modal-header {
  background: green !important;
  color: white !important;
}

#Modal-pago-add .modal-footer .btn-guardar {
  background: green !important;
  color: white !important;
}

/*Estos modales se abren en la ruta dinamica de cada expediente para los respectivos registros depagos*/
/*Modal editar registro pago*/
#Modal-pago-edit .modal-header {
  background: #2478bd !important;
  color: white !important;
}

#Modal-pago-edit .modal-footer .btn-guardar {
  background: #2478bd !important;
  color: white !important;
}

/*Modal borrar registro de pago*/
#Modal-pago-delete .modal-header {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

#Modal-pago-delete .modal-footer .btn-borrar {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

h2.paciente-pago {
  color: #214188 !important;
}

h5.costo-tratamiento {
  color: #214188 !important;
  font-size: 16px;
}

h5.prima-inicial {
  color: #214188 !important;
  font-size: 16px;
}

h5.saldo {
  color: #214188 !important;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #214188 !important;
}

/*Modal agregar resumen clinico*/
#Modal-resumenclinico-add .modal-header {
  background: green !important;
  color: white !important;
}

#Modal-resumenclinico-add .modal-footer .btn-guardar {
  background: green !important;
  color: white !important;
}

/*Modal editar expediente*/
#Modal-resumenclinico-edit .modal-header {
  background: #2478bd !important;
  color: white !important;
}

#Modal-resumenclinico-edit .modal-footer .btn-guardar {
  background: #2478bd !important;
  color: white !important;
}

/*Modal borrar expediente*/
#Modal-resumenclinico-delete .modal-header {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

#Modal-resumenclinico-delete .modal-footer .btn-borrar {
  background: rgba(233, 4, 4, 0.767) !important;
  color: white !important;
}

.card-header {
  background: #214188 !important;
  color: white;
}

/*Modal agregar pago*/
#Modal-fotos-add .modal-header {
  background: green !important;
  color: white !important;
}

#Modal-fotos-add .modal-footer .btn-guardar {
  background: green !important;
  color: white !important;
}
/*# sourceMappingURL=main.css.map */